{% extends "base.html" %}
{% block title %} New File {% endblock %}
{%block js %} 
<script src="https://dl.dropboxusercontent.com/u/6804788/codemirror.js"></script>
<script src="https://dl.dropboxusercontent.com/u/6804788/clike.js"></script>
<link href="https://dl.dropboxusercontent.com/u/6804788/codemirror.css" type="text/css" rel="stylesheet">
<style>
	.CodeMirror {
		height: 200px;
		width: 800px;
	}
</style>
{% endblock %}
{% block content %}
<h3> Add new File </h3>
<div class="existingfile" >
<h3> From filesystem </h3>

<form action="/vcloud/addFile/" method="post" enctype="multipart/form-data" id="formFile">
{% csrf_token %}
<strong> <color="red">{{ error }} </color="red"> </strong>
{{ form.as_p }}

<input type="submit">
</form>
</div>

<div class="copycode" >
	<h3> Copy and paste </h3>
	<form action="/vcloud/newFile/" method="post" id="copyFile">
	{% csrf_token %}
	<label>Filename: </label><input type="text" value=".c">
	<br>
	<textarea id="c-code" style="display:none"></textarea>
	<script>
		var cEditor = CodeMirror.fromTextArea(document.getElementById("c-code"), {
			mode:"text/x-csrc",
			lineNumbers: true,
		});
	</script>
	<br>
	<input type="submit">
	</form>
</div>
{% endblock %}