{% extends "base.html" %}
{% block title %} New File {% endblock %}
{%block js %} 
<script src="https://dl.dropboxusercontent.com/u/6804788/codemirror.js"></script>
<script src="https://dl.dropboxusercontent.com/u/6804788/clike.js"></script>
<link href="https://dl.dropboxusercontent.com/u/6804788/codemirror.css" type="text/css" rel="stylesheet">
<style>
	.CodeMirror {
		height: 200px;
		width: 800px;
	}
</style>
{% endblock %}
{% block content %}

<h3> Add new File </h3>
	<label>Filename: </label> {{ file.name }} <br>
	<label>Filesize: </label> {{ file.size }} byte<br>
	<label>FileHash: </label> {{ digest }} <br>
	<label>Expected Result: </label> {{ expResult }} <br>
	<textarea rows="9" id="c-code"> {{ string }} </textarea> 
	<script>
		var cEditor = CodeMirror.fromTextArea(document.getElementById("c-code"), 
		{
			lineNumbers: true,
			matchBrackets: true,
			mode:"text/x-csrc"
		});
	</script>
{% endblock %}