{% extends "base.html" %}
{% block title %} New File {% endblock %}
{%block js %} 
<script src="https://dl.dropboxusercontent.com/u/6804788/codemirror.js"></script>
<script src="https://dl.dropboxusercontent.com/u/6804788/clike.js"></script>
<link href="https://dl.dropboxusercontent.com/u/6804788/codemirror.css" type="text/css" rel="stylesheet">
<style>
	.CodeMirror {
        margin-left: 2%;
		height: 95%;
		width: 96%;
	}
</style>
{% endblock %}
{% block content %}

	<textarea rows="9" id="c-code">{{ file }}</textarea>
	<script>
		var cEditor = CodeMirror.fromTextArea(document.getElementById("c-code"), 
		{
			lineNumbers: true,
			matchBrackets: true,
			mode:"text/x-csrc"
		});
	</script>
{% endblock %}