{% extends "base.html" %}
{% block title %}
	 All Files 
{% endblock %}

{% block js %}
	 <script src="https://dl.dropboxusercontent.com/u/6804788/TableSort.js"></script> 
	 <script src="https://dl.dropboxusercontent.com/u/6804788/jquery-2.0.3.min.js"></script>
	 <style>
	 	div.scrollcontainer {
	 		height: 95%;
	 		overflow: auto;
	 		
	 		width: 99%;
	 		margin-left: 1%;
	 		margin-top: 1%;
	 		display: inline-block;
	 	}
	 	#innen {
	 		height: 80%;
	 	}
	 	.sortierbar {
	 		border: 1px solid black;
	 		border-radius: 5px;
	 		background-color: #f3f2ed;
	 	}
	 	th {
	 		min-width: 20px;
	 		background-color: white;
	 	}
	 	tr  {
	 		display: table-row;
	 	}

	 	
	 </style>

	 <script>
	 	$(document).ready(function() {
	 		$("#searchBox").bind("keyup", function() {
	 			var searchString = $(this).val();

	 			if(searchString.length > 0) {
	 				$("td:nth-child(2)").each(function(counterEntries) {
	 					var item= $(this).text();
	 					(item.match(searchString)) ? $(this).parent("tr").show() : $(this).parent("tr").hide();
	 				});
	 			} else {
	 				$(".sortierbar tbody tr").show();
	 			}
	 		});
	 	});
	 </script>
{% endblock %}

{% block content %}




<div class="scrollcontainer">   


	<label>Suche Datei </label> <input type="text" id="searchBox">

<div id="innen">
<table class="sortierbar">
    <colgroup>
       <col span="1" style="width: 15%;">
       <col span="1" style="width: 70%;">
       <col span="1" style="width: 15%;">
    </colgroup>
	<thead>
		<tr>
			<th class="sortierbar vorsortiert+" >ID </th>
			<th class="sortierbar">Path</th>
			<th class="sortierbar">Hash </th>
		</tr>
	</thead>
	<tbody>
		{% for file in list %}
		<tr>
			<td > {{ file.id }} </td>
			<td> <a href="/vcloud/files/{{file.hash}}">{{ file.path }}</a>  </td>
			<td> {{ file.hash }} </td>

		</tr>
		{% endfor %}


	</tbody>
</table>
</div>
</div>
{% endblock %}