<!DOCTYPTE html>
<html style="padding:0; margin: 0">

    <head>
        <title>{% block title %}My amazing site{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="https://dl.dropboxusercontent.com/u/6804788/styles.css">
    </head>
    <body>
    <div id="doc3" class="yui-t1">
        <div id="hd">
            <div id="header" >
                <div class="image" style="width:33%;float:left "><center><img style="width=250px" src="http://www.sosy-lab.org/images/sosylogo.png"/></center></div>
                <div style="width=33%; float:left "><center><h3 >Verification Cloud</h3></center></div>
                <div class="image" style="width=33%;  "><center><img style="width=250px" src="http://www.sosy-lab.org/images/unilogo.png"/></center></div>

    
            </div>
        </div>
        <div id="bd">

            <div id="yui-main">
                <div class="yui-b">
                    <div class="content">
               
                {% if user.is_authenticated %} 
                <p> {% block content %}{% endblock %}  </p>
                {% else %}
                <p> Hallo bitte einloggen! </p>
                {% endif %}
                </div>
                </div>
            </div>
            <div class="yui-b">
                <div id="secondary"> <strong>Navigation </strong>
                <ul>
                    <li><a href="/vcloud/{{user.username}}">{{user.username}} Benchmarks </a> </li>
                    <li>{{user.username}} Runs </li>
                    <li> <a href="/vcloud/addMark/">Add Benchmark</a></li>
                    <li> <a href="/vcloud/addFile/">Add File  </a></li>
                    <li> Add Configuration </li>
                    <li> Run Benchmark </li>
                    <li> Run Single File </li>
                </ul> 
                </div>
            </div>
           
        </div>
    


 
   

  
    <div id="ft">
        <div id="footer">
       <center> {% block toggle_login %}
            {% include "userauth/toggle_login.html" %}
        {% endblock %}
        </center>
        </div>
    </div>
    </div>
    </body>
</html>