{% block toggle_login %}
        {% include "userauth/toggle_login.html" %}
{% endblock %}

<h3> Suche Benchmarks von Benutzern </h3>
<form action="search/" method="get">
	<input type="text" name="name" value="Benutzername">
	
{%  csrf_token %}
<input type="submit" value="Suche">

</form>


<h3> Suche nach Dateien </h3>
z.B    "easy.c"     oder   "not-so-easy.c" <br>
<form action="searchFile/" method="post">
	{% csrf_token %}
	<input type="text" name="filename" value="Dateiname">
	<input type="submit" value="Suchen">
</form>


<h3>Kürzlich aktive Benutzer </h3>

{% if benchmark_list %}
    <ul>
    {% for benchmark in benchmark_list %}
        <li><a href="/database/{{ benchmark.user }}/">{{ benchmark.user }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No benchmarks are available.</p>
{% endif %}